<h2 mat-dialog-title>AXOLOTL</h2>

<mat-dialog-content>

<p class='name'> <b>Connor,</b> </p>
<p class='no-tab'> The big day is here, and Bill Cipher desperately needs your help to forge the <i>Amulet of Protection</i>.</p>
<p class='no-tab'> The Amulet of Protection uses the Zodiac signs to protect Bill from the people of Gravity Falls as he finishes his master plan.</p>
<p class='no-tab'> He needs <b>YOUR</b> help to complete the magical Amulet. If you help him, he may help you with the next step of your journey.</p>
<p class='no-tab'> There is only one way to find out……</p>

<br>

<p class='no-tab'>The Rules</p>
<p class='tab'> Bill Cipher is searching everywhere to find the hidden Zodiac signs. He says he will grant you <b>COMPLETE</b> control, temporarily of course. </p>
<br>
<p class='tab'> Walk around using <kbd>&#8593;</kbd> <kbd>&#8592;</kbd> <kbd>&#8595;</kbd> <kbd>&#8594;</kbd> <b> OR </b> <kbd>W</kbd> <kbd>A</kbd> <kbd>S</kbd> <kbd>D</kbd></p>
<br>
<p class='tab'> As you are walking around, listen for sounds. As you get closer to burried treasure, the sounds will become faster and higher pitched.</p>
<p class='tab'> Once you think you have found the location of some treaure, press <kbd>Space Bar</kbd> to dig it up and see if its a Zodiac Sign or something else.</p>
<br>
<p class='tab'> After you find a Zodiac sign, a portal, <img src='../assets/images/30x30_Portal_teal.png' />, will appear. </p>
<p class='tab'> Walk to the portal and press <kbd>Space Bar</kbd> so Bill can teleport to the next region where he believes a Zodiac sign could be found.</p>
<p class='tab'> Don't forget to search for other treasures before teleporting away though! You never know what useful items can be discovered.</p>
<br>
<p class='tab'> You can check your progress by pressing <kbd>P</kbd>.</p>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button class="mat-raised-button" (click)="close()">Shake Bill's Hand</button>
</mat-dialog-actions>