<h2 mat-dialog-title>AXOLOTL</h2>

<mat-dialog-content>

<p class='name'> <b>Connor,</b> </p>
<p class='no-tab'> The big day is here! Bill Cipher desperately needs your help. He has found a way to forge an <i>Amulet of Protection</i> using the Zodiac signs.</p>
<p class='no-tab'> This will protect him from the people in Gravity Falls as he finishes his master plan, but he needs you to help him find all 10 Zodiac signs.</p>
<p class='no-tab'> If you can help him forge this magical Amulet, maybe he can help you with a clue.... There is only one way to find out.</p>

<br>

<p class='no-tab'>The Rules</p>
<p class='tab'> Bill Cipher is searching everywhere to find out where these Zodiac Signs might be buried. He says he will temporarily give you <b>COMPLETE</b> control.</p>
<br>
<p class='tab'> Walk around using <kbd>&#8593;</kbd> <kbd>&#8592;</kbd> <kbd>&#8595;</kbd> <kbd>&#8594;</kbd> <b> OR </b> <kbd>W</kbd> <kbd>A</kbd> <kbd>S</kbd> <kbd>D</kbd></p>
<br>
<p class='tab'> As you are walking around, listen for sounds. As you get closer to burried treasure, the sounds will become faster and higher pitched.</p>
<p class='tab'> Once you think you have found the location of some treaure, press <kbd>Space Bar</kbd> to dig it up and see if its a Zodiac Sign or something else.</p>
<br>
<p class='tab'> After you find a Zodiac sign, a portal, <img src='../assets/images/30x30_Portal_teal.png' />, will appear. </p>
<p class='tab'> Walk to the portal and press <kbd>Space Bar</kbd> so Bill can teleport to the next region where he believes a Zodiac sign could be found.</p>
<p class='tab'> Don't forget to search for other treasures before teleporting away though! You never know what useful items can be discovered.</p>
<br>
<p class='tab'> You can check your progress by pressing <kbd>P</kbd>.</p>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button class="mat-raised-button" (click)="close()">Shake Bill's Hand</button>
</mat-dialog-actions>